body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #fff;
}
.container-new {
    max-width: 1600px;
    max-height: 1000px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.product-details, .checkout-details {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
h1 {
    color: #333;
    margin-top: 0;
}
p {
    color: #666;
}
.image-container {
    margin-left: 20px;
    text-align: left;
    margin-bottom: 20px;
}
.bike-image {
    max-width: 90%;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: auto;
    border-radius: 8px;
}
.details {
    float: left;
    margin-bottom: 20px;
}
.details p {
    margin: 5px 0;
}
.terms {
    margin: 5px 0;
    margin-left: 40px;
    font-size: 16px;
}

.rent-button, .checkout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.rent-button:hover, .checkout-button:hover {
    background-color: #0056b3;
}

.checkout-details hr {
    position: relative; /* Position the <hr> absolutely within its container */
    width: 90%; /* Make it span the full width of the container */
    transform: translateX(-11%); /* Center it vertically */
    border: none; /* Remove default border */
    border-top: 1px solid #ddd; /* Add border-top instead */
}

@media (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .image-container {
        flex: 0 0 calc(48% - 1px); /* 48% of the space minus border width */
/*        border-right: 1px solid #ddd;        */
    }

    .product-details {
        flex: 0 0 calc(22% - 1px); /* 22% of the space minus border width */
        /* border-right: 1px solid #ddd; */
        border-bottom: none;
    }

    .checkout-details {
        flex: 0 0 calc(30% - 1px); /* 30% of the space minus border width */
        border-bottom: 1px solid #ddd;
    }
}
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card {
        /* transform: scale(1.05); */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .product-details {
        font-size: 25px; /* Increase font size as needed */
    }
    
    .bike-name {
        font-size: 30px; /* Increase font size of bike name as needed */
    }
    




    

    